<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>

    {% include page-header.html %}   

    <section class="main-content post">
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <h2>{{ site.author }}</h2>
      <h3><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></h3>

      {{ content }}
      <h3>***</h3>

<!--
      {% for cat in page.categories %}
      {{ cat }}
      {% endfor %}
-->
      <div class="postnav">
        <ul class="clearfix">
          <li>
            {% if page.previous.url %}
              <a class="prev" href="{{page.previous.url}}">&laquo;&laquo;&nbsp;{{page.previous.title}}</a>
            {% endif %}
          </li>
          <li>
            {% if page.next.url %}
              <a class="next" href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;&raquo;</a>
            {% endif %}
          </li>
        </ul>
      </div>
      {% include page-footer.html %}

    </section>

  </body>
</html>
